<!--Footer-->
<div id="footer" class="container mt-5">
    <div class="row">
      <div class="col">
        <div class="list-group">
          <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
            The current link item
          </a>
          <a href="#" class="list-group-item list-group-item-action">A second link item</a>
          <a href="#" class="list-group-item list-group-item-action">A third link item</a>
          <a href="#" class="list-group-item list-group-item-action">A fourth link item</a>
          <a class="list-group-item list-group-item-action disabled">A disabled link item</a>
        </div>
      </div>
      <div class="col">
        <ul class="list-group list-group-horizontal">
          <li class="list-group-item h5 m-3"><i class="fab fa-twitter-square"></i><a href="#"></a></li>
          <li class="list-group-item h5 m-3"><i class="fab fa-facebook"></i><a href="#"></a></li>
          <li class="list-group-item h5 m-3"><i class="fab fa-linkedin-in"></i><a href="#"></a></li>
          <li class="list-group-item h5 m-3"><i class="fab fa-instagram"></i><a href="#"></a></li>
        </ul>
        <figure class="text-end">
          <blockquote class="blockquote">
            <p>A well-known quote, contained in a blockquote element.</p>
          </blockquote>
          <figcaption class="blockquote-footer">
            Someone famous in <cite title="Source Title">Source Title</cite>
          </figcaption>
        </figure>
        <form>
          <div class="row mb-3">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Email
            </label>
            <div class="col-sm-10">
              <input type="email" class="form-control" id="inputEmail3">
            </div>
      
          </div>
          <button type="submit" class="btn btn-primary">Subscribe</button>
        </form>
      </div>
    </div>
  </div>