<!--Navbar -->
<div class="p-1 fs-2 container mainnav">
    <nav class="navbar-toggler navbar-expand-lg" style="height: 100px;">
    <div class=" row align-items-end">
      <div class="col m-2">
        <a href=""> <i class="fas fa-seedling f4fb fa-3x"></i>Baobab </a>
      </div>
      <div class="col">
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">
            <i class="far fa-arrow-alt-circle-right f35a"></i>
          </button>
        </form>
      </div>
    </div>
    </nav>
  
    <nav class="navbar-toggler navbar-expand-lg">
      <div class="row">
      <!--Profile Dropdown -->
      <div class="col dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fas fa-user-astronaut f4fb fa-2x"></i>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="">Login</a></li>
            <li><a class="dropdown-item" href="">Add Order</a></li>
            <li><a class="dropdown-item" href="">Blog</a></li>
            <li><a class="dropdown-item" href="">Sign Out</a></li>
          </ul>
      </div>
      <div class="col justify-content-md-end">
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <button type="button" class="btn btn-outline-dark">
            <a href="/products">Our Cakes</a>
          </button>
          <button type="button" class="btn btn-outline-dark">
            <a href="">Baobab Hub</a>
          </button>
        </div>
      </div>
      </div>
    </nav>
  </div>   