<!--Navbar -->
<div class="p-1 fs-2 container-fluid mainnav">
    <nav class="navbar-toggler navbar-expand-lg" style="height: 100px;">
    <div class=" row align-items-end">
      <div class="col m-2">
        <a class="text-dark" href="/products"> <i class="fas fa-seedling f4fb fa-3x"></i>Baobab </a>
      </div>
      <div class="col">
      
      </div>
    </div>
    </nav>
  
    <nav class="navbar-toggler navbar-expand-lg">
      <div class="row justify-content-between">
      <!--Profile Dropdown -->
      <div class="col-4 dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fas fa-user-astronaut f4fb fa-2x"></i>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="/login">Login</a></li>
            <li><a class="dropdown-item" href="/create">Add Order</a></li>
            <li><a class="dropdown-item" href="">Blog</a></li>
            <li><a class="dropdown-item" href="">Sign Out</a></li>
          </ul>
      </div>
      <div class="col-4" style="margin-right: 0;">
        <a href="/cakes"><button type="button" class="btn btn-outline-primary"><h3>Bakery</h3></button></a>
        <a href="/community"><button type="button" class="btn btn-outline-primary"><h3>Hub</h3></button></a>
      </div>
      </div>
    </nav>
  </div>   