<div class="product-grid">
  <% products.forEach(product => { %>
    <a href="/product/<%= product.id %>">
      <div><p>><%= product.title %></p></div>
      <div><p>><%= product.description %></p></div>
    </a>
  <% }) %>
</div>