<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
<body>
<%- include('../partials/nav.ejs') %>
<div class="container">
  <ul class="bmenu">
    <li><a href="#">About</a></li>
    <li><a href="#">Donate</a></li>
    <li><a href="#">Donating goods to the foodbank </a></li>
    <li><a href="#">You are still making a difference</a></li>
    <li><a href="#">The Mothering Bolera Feeding programme</a></li>
    <li><a href="#">Eating cake to make the world a better place </a></li>
  </ul>
</div>
<div class="d-flex" style="height: 100px;">
  <div class="vr"></div>
</div>
 <!--carusel with cakes and information -->
  <div id="panou" class="row mt-5" style="background-color: rgba(255,0,0,0.1);">
    <div class="col-lg-4">
      <ul class="ch-grid">
        <li>
          <div class="ch-item ch-img-3">
            <div class="ch-info">
              <h3>6" Round cake</h3>
              <p>Donate <a href="http://drbl.in/ekhp">50£</a></p>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="col-lg-4">
      <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="3000">
            <img src="../../images/chocolate.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
             
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <img src="../../images/IMG_0304.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
            
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <img src="../../images/IMG_2022.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">

            </div>
          </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
      </div>
    </div>
    <div class="col-lg-4">
      <ul class="ch-grid">
        <li>
          <div class="ch-item ch-img-1">
            <div class="ch-info">
              <h3>Birthday Cake</h3>
              <p>Donate <a href="http://drbl.in/ekhp">100£</a></p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="d-flex" style="height: 100px;">
    <div class="vr"></div>
  </div>
<!--Main jumbotron -->
<div class="jumbotron" style="height:600px">
  <div class="float-end">
    <h1 class="display-4 text-center">Baobab Bakery!</h1>
    <p class="lead">
    <div class="card">
      <div class="card-header text-center">
        You are still making a difference
      </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0 text-center">
        <p>Mothering Bolera team began a programme to help families housing orphans and vulnerable children</p>
        <footer class="blockquote-footer text-center">The <cite title="Source Title"> Mothering Bolera Feeding</cite>programme</footer>
      </blockquote>
    </div>
    </div>
    </p>
    <hr class="my-4">
  </div>
</div>
 <!--information before footer -->
 <div id="mi-slider" class="mi-slider">
	<ul>
		<li><a href="#"><img src="../../images/image0.jpeg" alt="img01"><h4>Birthday Cakes </h4></a></li>
		<li><a href="#"><img src="../../images/image1.jpeg" alt="img02"><h4>Vegan Cakes</h4></a></li>
		<li><a href="#"><img src="../../images/IMG_0092.JPG" alt="img03"><h4>Make Your Cake </h4></a></li>
		<li><a href="#"><img src="../../images/CAKE.jpg" alt="img04"><h4>Donate </h4></a></li>
	</ul>
	<nav>
		<a href="#">Cakes</a>
		<a href="#">Traybakes</a>
		<a href="#">Celebration</a>
		<a href="#">Donate</a>
	</nav>
</div>
<%- include('../partials/footer.ejs') %>

</body>
</html>