<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
<body>

<!--Main jumbotron -->
<div class="jumbotron" style="height:600px">
    <div class="float-end">
      <h1 class="display-4 text-center">Hello, world!</h1>
      <p class="lead"><div class="card">
      <div class="card-header text-center">
        Quote
      </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0 text-center">
        <p>A well-known quote, contained in a blockquote element.</p>
        <footer class="blockquote-footer text-center">Someone famous in <cite title="Source Title">Source Title</cite></footer>
      </blockquote>
    </div>
  </div></p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg float-end" href="/products" role="button">Learn more</a>
  </p>
  </div>
</div>
<!--Link to Baobab community -->
<div class="container" style="background-color: rgba(255,0,0,0.1);">
    <div class="row g-1">
      <div class="col">
        <div class="card featured" style="height: 80%">
          <div class="card-header text-center">
            Featured
          </div>
          <div class="card-body">
            <h5 class="card-title text-center">Special title treatment</h5>
            <p class="card-text text-ceber">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary float-end">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
</div>
  
<!--Some displayed cakes -->
<div id="panou" class="container mt-5" style="width:100%; background-color: rgba(255,0,0,0.1);">
<div class="row">
  <div class="col">
  <div class="card mb-3 text-center" style="max-width: 640px;">
    <div class="row g-1">
      <div class="col-md-4">
        <img src="../../images/image0.jpeg" class="img-thumbnail rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title d-block p-2 bg-success bg-gradiant text-white">Birthday Cakes</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
  </div>
  </div>
  <div class="col">
  <div class="card mb-3 text-center" style="max-width: 640px;">
    <div class="row g-1">
      <div class="col-md-4">
        <img src="../../images/IMG_1143.jpg" class="img-thumbnail rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title d-block p-2 bg-primary bg-gradiant text-white">Vegan Cakes <span class="badge bg-secondary">New</span></h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<div class="row">
  <div class="col">
    <div class="card mb-3 text-center" style="max-width: 640px;">
      <div class="row g-1">
        <div class="col-md-4">
          <img src="../../images/IMG_0141.JPG" class="img-thumbnail rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title d-block p-2 bg-dark bg-gradiant text-white">Traybakes and much more</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card mb-3 text-center" style="max-width: 640px;">
      <div class="row g-1">
        <div class="col-md-4">
          <img src="../../images/IMG_0387.jpg" class="img-thumbnail rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title d-block p-2 bg-danger bg-gradient text-white">Make your own cake</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>
    </div>
  
  </div>
</div>
</div>
 <!--carusel with cakes and information -->
<div class="jumbotron" style="width: 100%; height: 500px">
  <h1 class="display-4">Hello, world!</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/products" role="button">Learn more</a>
  </p>
</div>

 <!--information before footer -->
<div class="container-fluid mt-5" style="width:100%;">
  <figure class="text-end">
    <blockquote class="blockquote">
      <p>A well-known quote, contained in a blockquote element.</p>
    </blockquote>
    <figcaption class="blockquote-footer">
      Someone famous in <cite title="Source Title">Source Title</cite>
    </figcaption>
  </figure>
</div>

</body>
</html>