<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
<body>
  <%- include('../partials/nav.ejs') %>
<div class="parallax"></div>
<div class="jumbotron jumbotron-fluid">
  <div class="container typewriter">
    <h1 class="display-4 text-center">Welcome</h1>
    <p class="lead text-center">This is a charity focus on helping kids in Malawi, putting them through school and food, clothes</p>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col">
      <i class="fa fa-birthday-cake d-flex justify-content-center" aria-hidden="true"></i>
      <div class="card">
        <div class="card-header d-flex justify-content-center"">
          Baobab Bakery
        </div>
        <img src="../../images/bakery.JPG" class="card-img-top" alt="..." height="300px">
        <div class="card-body">
          <h5 class="card-title  d-flex justify-content-center">Get 20% with first purchase</h5>
          <p class="card-text">- helping provide education and opportunity</p>
          <p class="card-text">-helping to build a sustainable environment; go rubbish free by bringing your own tub or learning to upcycle </p>
          <p class="card-text">-helping your local community; donating goods to the foodbank or clothing bank.</p>
          <a href="/products" class="btn  d-flex justify-content-center">Our Bakery</a>
        </div>
      </div>
    </div>
    <div class="col">
      <i class="fa fa-users d-flex justify-content-center" aria-hidden="true"></i>
      <div class="card">
        <div class="card-header d-flex justify-content-center">
          Meet the kids from nursery
        </div>
        <img src="../../community/image22.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title  d-flex justify-content-center">Bolera, on the shores of lake Malawi</h5>
          <p class="card-text">I worked as a volunteer teacher, providing basic education to a large group of 9-14 year olds.The country has stolen my heart, and to this moment not a day goes by without me bringing it up to someone! More recently, I have working as a pastry chef, doing fundraiser events  for Alzheimer’s and other charities, and saving wildly to help my family and fund my dream.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <i class="fa fa-comments d-flex justify-content-center" aria-hidden="true"></i>
      <div class="card">
        <div class="card-header d-flex justify-content-center">
          Join Hub-Blog
        </div>
        <img src="../../images/image3.png" class="card-img-top" alt="..." height="350px">
        <div class="card-body">
          <h5 class="card-title  d-flex justify-content-center">Share your Blog-story</h5>
          <p class="card-text">I think most people will have heard of ‘The Boy Who Harnessed the Wind’ by now. He is a teenager from a small rural village in Malawi, who built a windmill from a scrapheap, which in turn saved his whole village by providing a water source</p>
          <a href="/products" class="btn  d-flex justify-content-center">Hub-Blog</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="d-flex" style="height: 100px;">
  <div class="vr"></div>
</div>
<section class="pl-3 pb-1 card-grid">
  <div class="container d-block">
    <div class="row g-4">
      <div class="col-lg-6 d-flex">
        <div class="card bg-dark text-white">
          <img src="../../community/image26.jpeg" class="card-img" alt="..."  style="height:100%; width:100%" >
          <div class="card-img-overlay">
            <h5 class="card-title">Bring us closer</h5>
            <p class="card-text">We aim to provide the youngest residents of Bolera a strong foundation for education.</p>
            <p class="card-text">August 2018</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 d-flex ">
        <div class="row g-4">
          <div class="col-12 col-sm-6">
            <div class="card bg-dark text-white">
              <img src="../../community/image28.jpeg" class="card-img" alt="..." >
              <div class="card-img-overlay">
                <h5 class="card-title">Mothering Bolera Nursery</h5>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6">
            <div class="card bg-dark text-white">
              <img src="../../community/IMG_1895.JPG" class="card-img" alt="..." >
              <div class="card-img-overlay">
                <h5 class="card-title">Mothering Bolera Nursery</h5>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="card bg-dark text-white">
              <img src="../../images/chocolate.jpg" class="card-img" alt="...">
              <div class="card-img-overlay">
                <h5 class="card-title">Vegan CAKES</h5>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</section>
<div class="d-flex" style="height: 100px;">
  <div class="vr"></div>
</div>
<div class="container  image-grid">
  <div class="row row-cols-4-lg row-cols-1-sm">
    <div class="col">
      <div class="card bg-dark text-white">
        <img src="../../images/image4.JPG" class="card-img" alt="...">
        <div class="card-img-overlay">
          <h5 class="card-title">For Birthdays</h5>
        </div>
      </div>
      <i class="fa fa-cutlery" aria-hidden="true"></i>
    </div>
    <div class="col">
      <div class="card bg-dark text-white">
        <img src="../../images/image5.jpg" class="card-img" alt="...">
        <div class="card-img-overlay">
          <h5 class="card-title">For Baby-showers</h5>
        </div>
      </div>
      <i class="fa fa-child" aria-hidden="true"></i>
    </div>
    <div class="col">
      <div class="card bg-dark text-white">
        <img src="../../images/image6.JPG" class="card-img" alt="...">
        <div class="card-img-overlay">
          <h5 class="card-title">Easter and Christmas</h5>
        </div>
      </div>
      <i class="fa fa-bullhorn" aria-hidden="true"></i>
    </div>
    <div class="col">
      <div class="card bg-dark text-white">
        <img src="../../images/blog.JPG" class="card-img" alt="...">
        <div class="card-img-overlay">
          <h5 class="card-title text-dark">Follow us</h5>
        </div>
      </div>
      <i class="fa fa-smile-o" aria-hidden="true"></i>
    </div>
  </div>
</div>
<div class="d-flex" style="height: 100px;">
  <div class="vr"></div>
</div>
<div class="parallaxtwo"></div>
<%- include('../partials/footer.ejs') %>
</body>
</html>