<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
<body>

<div class="parallax"></div>
<div class="jumbotron jumbotron-fluid" style="height: 500px">
  <div class="container">
    <h1 class="display-4 text-center">Fluid jumbotron</h1>
    <p class="lead text-center">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
  </div>
</div>


<div class="container">
  <div class="row">

  </div>
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
          Featured
        </div>
        <img src="../../community/image24.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="/products" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-header">
          Featured
        </div>
        <img src="../../community/image22.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="/products" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-header">
          Featured
        </div>
        <img src="../../community/image23.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="/products" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
</div>
<section class="pt-3 pb-5 card-grid">
  <div class="container d-block">
    <div class="row g-4">
      <div class="col-lg-6 d-flex">
        <div class="card bg-dark text-white">
          <img src="../../community/image26.jpeg" class="card-img" alt="..." style="height:100%; width:100%">
          <div class="card-img-overlay">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text">Last updated 3 mins ago</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="row g-4">
          <div class="col-12">
            <div class="card bg-dark text-white">
              <img src="../../community/image29.jpeg" class="card-img" alt="...">
              <div class="card-img-overlay">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text">Last updated 3 mins ago</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card bg-dark text-white">
              <img src="../../community/image28.jpeg" class="card-img" alt="...">
              <div class="card-img-overlay">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text">Last updated 3 mins ago</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card bg-dark text-white">
              <img src="../../community/image27.jpeg" class="card-img" alt="...">
              <div class="card-img-overlay">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text">Last updated 3 mins ago</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
<div class="parallaxtwo"></div>

</body>
</html>