<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
<body>
<!--Register and user authentification  -->
<% if (message) { %>
    <div style="text-align: center" class="alert alert-<%= message.type %>">
        <strong><%= message.intro %></strong><strong><%= message.message %></strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
<% } %>
<div id="bgauth" class="container mt-5">
    <div class="row">
        <div class="col align-self-center">
            <div class="card" style="border:none">
                <form method="post" action="/register" class="box">
                    <h1>Register</h1>
                      <p class="text-danger text-muted"> Please enter your name and password!</p>
                      <!--Username--> 
                      <input id="username" type="text" name="name" placeholder="name">
                      <!--Password-->  
                      <input id="password" type="password" name="password" placeholder="Password">
                      <!--Confirm Password-->  
                      <input id="confirm" type="password" name="confirm" placeholder="Confirm Password"> 
                      <a class="forgot text-muted" href="#">Forgot password?</a>
                      <div class="vr"></div>
                      <a class="forgot text-muted" href="/login">Sign up</a>
                      
                      <input type="submit" name="" value="Register" href="#">
                    
                </form>
            </div>
        </div>
    </div>
    <!--information before footer -->
    <div class="container-fluid mt-5" style="width:100%;">
        <figure class="text-end">
            <blockquote class="blockquote">
            <p>Stay connected and support our community</p>
            </blockquote>
            <figcaption class="blockquote-footer">
            Mother <cite title="Source Title">Bolera</cite>
        </figcaption>
        </figure>
    </div>
</div>


</body>
</html>

