<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
<body>
    <div class="container-fluid">
    <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="5000">
            <img src="../../images/image3.png" class="" alt="..." style="height: 660px; width: 90%;">
            <div class="carousel-caption typewriter text-break">
        
              <a href="/cakes"><button type="button" class="btn btn-outline-info"><h2>Welcome</h2></button></a>
              <p>Enjoy our delicious cakes.</p>
            </div>
          </div>

          <div id="baseimgbg" class="carousel-item mt-5" data-bs-interval="5000">
          
            <div class="typewriter text-center">
              <a href="/products"><button type="button" class="btn btn-outline-danger"><h2>Baobab Bakery</h2></button></a>
              <p>Perfect for a birthday, anniversary!</p>
            </div>
        
            <div class="row gy-5">
                  <div class="col">
                    <img src="../../images/image0.jpeg" class="img-thumbnail" alt="...">
                  </div>
                  <div class="col">
                    <img src="../../images/image1.jpeg" class="img-thumbnail" alt="...">
                  </div>
                  <div class="col">
                    <img src="../../images/CAKE.jpg" class="img-thumbnail" alt="...">
                  </div>
              
            </div>
            
            <div class="row">
              <div class="col">
                <img src="../../images/trythis.jpg" class="img-thumbnail" alt="...">
              </div>
              <div class="col">
                <img src="../../images/IMG_2022.jpg" class="img-thumbnail" alt="...">
              </div>
              <div class="col">
                <img src="../../images/IMG_0626.JPG" class="img-thumbnail" alt="...">
              </div>
             
            </div>
            <div class="row">
                <div class="col">
                  <img src="../../images/IMG_0304.jpg" class="img-thumbnail" alt="...">
                </div>
                <div class="col">
                  <img src="../../images/IMG_0092.JPG" class="img-thumbnail" alt="...">
                </div>
                
                <div class="col">
                  <img src="../../images/IMG_0769.JPG" class="img-thumbnail" alt="...">
                </div>
               
            </div>
            <div class="row">
              <div class="col">
                <img src="../../images/IMG_0387.jpg" class="img-thumbnail" alt="...">
              </div>
              <div class="col">
                <img src="../../images/IMG_0141.JPG" class="img-thumbnail" alt="...">
              </div>
              <div class="col">
                <img src="../../images/IMG_1084.jpg" class="img-thumbnail" alt="...">
              </div>
            </div>
            <div class="row">
              <div class="col">
                <img src="../../images/IMG_0141.JPG" class="img-thumbnail" alt="...">
              </div>
              <div class="col">
                <img src="../../images/IMG_1144.jpg" class="img-thumbnail" alt="...">
              </div>
              <div class="col">
                <img src="../../images/IMG_1143.jpg" class="img-thumbnail" alt="...">
              </div>
            </div>
          </div>
          

          <div id="baseimgcom" class="carousel-item">
            <div class="typewriter text-center">
              <a href="/cakes"><button type="button" class="btn btn-outline-success"><h2>Community Hub</h2></button></a>
              <p class="text-break">We help our community with donations.</p>
            </div>
            <section class="pt-3 pb-5 card-grid">
              <div class="container d-block">
                <div class="row g-4">
                  <div class="col-lg-6 d-flex">
                    <div class="card bg-dark text-white">
                      <img src="../../community/image26.jpeg" class="card-img" alt="..." style="height:100%; width:100%">
                      <div class="card-img-overlay">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <p class="card-text">Last updated 3 mins ago</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="row g-4">
                      <div class="col-12">
                        <div class="card bg-dark text-white">
                          <img src="../../community/image29.jpeg" class="card-img" alt="...">
                          <div class="card-img-overlay">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <p class="card-text">Last updated 3 mins ago</p>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="card bg-dark text-white">
                          <img src="../../community/image28.jpeg" class="card-img" alt="...">
                          <div class="card-img-overlay">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <p class="card-text">Last updated 3 mins ago</p>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="card bg-dark text-white">
                          <img src="../../community/image27.jpeg" class="card-img" alt="...">
                          <div class="card-img-overlay">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <p class="card-text">Last updated 3 mins ago</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            
            </section>
              
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bg-dark" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
        <span class="carousel-control-next-icon bg-dark" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
</body>
</html>