<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
<body>
    <div class="container">
        <div class="row">
            <div class="col align-self-center">
                <div class="card" style="border:none">
                    <form method="POST" action="/products" class="box">
                        <h1>Add Product</h1>
                            <p class="text-danger text-muted"> Please add your product</p>
                            <!--title--> 
                            <input id="title" type="text" name="title" placeholder="title">
                            <!--description-->  
                            <input id="description" type="text" name="description" placeholder="description">
                            <div>
                            <input type="submit" name="" value="Submit" href="">
                        
                    </form>
                </div>
            </div>
        </div>
</body>
</html>

