<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/nav.ejs') %>
    <div>
        <form action="/products/<%= product.id  %>?_method=PUT " method="POST">
            <label for="title">Product Title</label>
            <input type="text" id="title" name="title" required>
            <label for="body">Product Description</label>
            <textarea id="description" name="description" required></textarea>
            
            <button>Submit</button>
        </form>
    </div>
</body>
</html>

